body {
    font-family: Arial;
    width: 1280px;
}

.header {
    background: url(./images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    }

    .mobile-burger {
        display: none;
    }

    .button {
        background-color: #F1CDB3;
        border-radius: 100px;
        padding: 15px 45px;
        color: #292929;
        border: none;
        font-family: Georgia;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }

    .button:hover {
        background-color: #FDDCC4;
        cursor: pointer;
    }

    .header__wrapper {
        display: flex;
        padding-top: 60px;
        padding-left: 40px;
    }

    .top-menu {
        display: flex;
        justify-content: space-between;
        width: 442px;
        padding-top: 16px;
        padding-left: 572px;
    }

    .header__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__logo_title {
        font-size: 32px;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        font-family: Georgia;
    }

    .header__logo_subtitle {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        padding-top: 10px;
        
    }


    .top-menu__link {
        font-size: 15px;
        line-height: 160%;
        text-decoration: none;
        color: #FAFAFA;
        padding-bottom: 3px;
    }

    .top-menu__link:active {
        border-bottom: 3px solid #F1CDB3;;
    }

    .top-menu__link_active {
        border-bottom: 3px solid #F1CDB3;;
    }

    .content__wrapper {
        display: flex;
    }

    .header__content_heading {
        font-family: Georgia;
        font-size: 44px;
        line-height: 130%;
        color: #FFFFFF;
        width: 310px;
        padding-bottom: 42px;
    }

    .header__content_subheading {
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
        width: 460px;
        padding-bottom: 41px;
    }

    .header__content {
        padding-left: 40px;
        padding-top: 225px;

    }

    .content__wrapper_img {
        padding-top: 60px;
        padding-left: 42px;
    }

    .about {
        display: flex;
        padding-top: 80px;
        padding-left: 215px;
        padding-bottom: 100px;
    }

    .about__content {
        padding-top: 14px;
        padding-left: 120px;
    }

    .about__content_heading {
        font-family: Georgia;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        width: 370px;
        color: #545454;
        padding-bottom: 25px;
    }

    .about__content_subheading {
        font-size: 15px;
        line-height: 160%;
        color: #4C4C4C;
        width: 430px;
    }

    .about__content_subheading-first {
        padding-bottom: 25px;
    }

    .pets {
        background-color: #F6F6F6;
        position: relative;
        height: 877px;
    }

    .pets__heading {
        font-family: Georgia;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        width: 400px;
        padding-top: 80px;
        padding-left: 440px;
        text-align: center;
        padding-bottom: 60px;

    }

    .pets__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        padding-left: 145px;
        width: 990px;
        
    }

    .pets__card {
        width: 270px;
        height: 435px;
        background-color: #FAFAFA;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pets__card_name {
        font-family: Georgia;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .pets__card_button {
        font-family: Georgia;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        padding: 15px 45px;
        background-color: #FAFAFA;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        outline: none;
    }

    .pets__card_button:hover {
        cursor: pointer;
        background-color: #FDDCC4;
        border: 2px solid #FDDCC4;
    }

    .pets__card_img, .pets__card_name {
        padding-bottom: 30px;
    }

    .pets__content_button {
        text-decoration: none;
        margin-left: 510px;
    }

    .arrow:hover {
        cursor: pointer;
    }

    .arrow-left {
        position: absolute;
        top: 422px;
        left: 40px;
    }

    .arrow-left:hover {
        content: url("/images/button_arrow_hover\(l\).png");
    }

    .arrow-right {
        position: absolute;
        top: 422px;
        right: 40px;
    }

    .arrow-right:hover {
        content: url("/images/button_arrow_hover\(r\).png");
    }

    .help__heading {
        font-family: Georgia;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        width: 308px;
        text-align: center;
        padding-top: 80px;
        padding-left: 486px;
    }

    .help-list__item_text {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
        padding-top: 30px;
    }

    .help-list__first-line {
        padding-top: 60px;
        padding-left: 127px;
        width: 1026px;
        display: flex;
        justify-content: space-between;
    }

    .help-list__second-line {
        padding-top: 60px;
        padding-bottom: 100px;
        padding-left: 211px;
        width: 858px;
        display: flex;
        justify-content: space-between;
    }

    .help-list__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 113px;
    }    

    .help__content_mobile {
        display: none;
    }

    .donation {
        background-color: #F6F6F6;
        display: flex;
        padding-top: 81px;
    }

    .donation__img {
        padding-top: 11px;
        padding-left: 182px;
        padding-bottom: 111px;
    }

    .donation__content {
        padding-left: 30px;
    }

    .donation__content_heading {
        font-family: Georgia;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        width: 300px;
        padding-bottom: 20px;
    }

    .donation__content_subheading {
        font-family: Georgia;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
        padding-bottom: 20px;
    }

    .donation__content_legal {
        width: 380px;
        font-family: Arial;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B2B2B2;
    }

    .donation__content_card {
        margin-bottom: 20px;
        background-color: #F1CDB3;
        border-radius: 9px;
        width: 349px;
        height: 43px;
        display: flex;
        align-items: center;
    }

    .credit-card__number {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
        padding-left: 15px;
    }

    .credit-card__img {
        padding-left: 15px;
    }

    .footer {
        background: url("./images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
        display: flex;
        padding-top: 40px;
        padding-left: 40px;
    }

    .footer__contacts_title {
        width: 280px;
        font-family: Georgia;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        padding-bottom: 40px;
    }

    .mail {
        display: flex;
        align-items: center;
        padding-bottom: 40px;
    }

    .phone {
        display: flex;
        align-items: center;
    }

    .boston {
        display: flex;
        align-items: center;
        padding-bottom: 32px;
    }

    .london {
        display: flex;
        align-items: center;
    }

    .footer__location {
        padding-left: 160px;
        padding-right: 160px;
    }

    .footer__location_title {
        width: 270px;
        font-family: Georgia;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        padding-bottom: 34px;
    }

    .mail__link, .phone__link {
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        text-decoration:none;
        padding-left: 20px;
    }

    .boston__text, .london__text {
        width: 260px;
        font-family: Georgia;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        padding-left: 20px;
    }



    /* Our pets page */

    .pets__mobile-burger {
        display: none;
    }

    .pets-header__wrapper {
        display: flex;
        padding-top: 30px;
        padding-left: 40px;
        padding-bottom: 30px;
    }

    .pets-menu {
        display: flex;
        justify-content: space-between;
        width: 442px;
        padding-top: 16px;
        padding-left: 572px;
    }

    .pets-header__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pets-header__logo_title {
        font-size: 32px;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
        font-family: Georgia;
    }

    .pets-header__logo_subtitle {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #292929;
        padding-top: 10px;
        
    }

    .pets-menu__link {
        font-size: 15px;
        line-height: 160%;
        text-decoration: none;
        color: #545454;
        padding-bottom: 3px;
    }

    .pets-menu__link:active {
        border-bottom: 3px solid #F1CDB3;;
    }

    .pets-menu__link_active {
        border-bottom: 3px solid #F1CDB3;;
    }


    .our-pets {
        background-color: #F6F6F6;
        position: relative;
    }

    .our-pets__heading {
        font-family: Georgia;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        width: 400px;
        padding-top: 80px;
        padding-left: 440px;
        text-align: center;
        padding-bottom: 60px;

    }

    .our-pets__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 45px;
        padding-left: 40px;
        width: 1200px;
    }

    .our-pets__card {
        width: 270px;
        height: 435px;
        background-color: #FAFAFA;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .our-pets__card_name {
        font-family: Georgia;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .our-pets__card_button {
        font-family: Georgia;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        padding: 15px 45px;
        background-color: #FAFAFA;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        outline: none;
    }

    .our-pets__card_button:hover {
        cursor: pointer;
        background-color: #FDDCC4;
        border: 2px solid #FDDCC4;
    }

    .our-pets__card_img, .our-pets__card_name {
        padding-bottom: 30px;
    }

    .paginator {
        padding-top: 30px;
        padding-left: 430px;
        padding-bottom: 100px;
    }

    .paginator__item {
        padding-right: 20px;
    }

    .paginator__item_active:hover {
        cursor: pointer;
    }




